header h1{
    text-align: center;
    margin-bottom: 100px;
}

#GroupedCircularVisualisation{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.filterContinent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.continent-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.continent-filter input{
    display: none;
}

.continent-filter:after{
    content:"";
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: var(--background-color-filter);
}


.continent-filter:not(:has(input:checked)){
    opacity: 0.5;
}

#GroupedCircularVisualisation:has(.genre:hover) .genre:not(:hover){
    opacity: 0.2;
}

.wrapperCircularVisualisation{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
}

.filterWrapper{
    padding: 30px;
    min-width: 150px;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.02);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}

.filterTitleWrapper h1{
    text-align: center;
    font-size: x-large;
}

.activityYears{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#sliderTxt{
    text-align: center;
    background-color: transparent;
}

.filters{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}

.circleDatas{
width: 100%;
}

.circleDatas label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

#circleSizeInfo{
    color: #f6931f;
    font-weight: bold;
    width: 100%;
    border: 1px solid;
    padding: 5px;
    border-radius: 5px;
}